.main-header {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.main-header .container {
    display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}
.main-nav li {
	display: inline;
}
.main-nav a {
    color: var(--primary-text-color);
	display: inline-block;
	padding: .5em 1.5em;
}