header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 20px;
}

nav {
    background-color: lightgrey;
    text-align: center;
    margin-bottom: 30px;
}

a {
    padding: 30px 5px 30px 5px;
}