<header class="main-header">
    <div class="container">
        <h1 class="header-title">Kári Rafn Karlsson</h1>
        <nav class="main-nav">
            <ul class="main-nav-list">
                <li>
                    <a routerLink="">Home</a>
                </li>
                <li>
                    <a routerLink="background">Background</a>
                </li>
                <li>
                    <a routerLink="skills">Skills</a>
                </li>
            </ul>
        </nav>
    </div>
</header>