.profile-card {
    max-width: 300px;
    margin: auto;
    text-align: center;
    animation: slideInFromRight 1s ease-in;
}

.profile-info {
    margin: auto 0;
}

.title {
    font-size: 18px;
    font-weight: 600;
}

.company {
    font-size: 16px;
}

.icon {
    margin: 2px 5px 0 5px;
    vertical-align: center;
}

img {
    margin-bottom: 5px;
}

p {
    margin: 10px 0;
}