<div class="card profile-card">
    <img [src]="profile.imagePath" alt="Profile Picture">
    <h1>{{ profile.name }}</h1>
    <p class="title">{{ profile.title }}</p>
    <p class="company">{{ profile.company }}</p>
    <p><fa-icon class="icon" [icon]="faMobile"></fa-icon>{{ profile.phone }}</p>
    <p><fa-icon class="icon" [icon]="faEnvelope"></fa-icon><a [href]="profile.email">{{ profile.email }}</a></p>
    <a class="icon" [href]="profile.facebookUrl" target="_blank"><fa-icon [icon]="faFacebook" size="2x"></fa-icon></a>
    <a class="icon" [href]="profile.githubUrl" target="_blank"><fa-icon [icon]="faGithub" size="2x"></fa-icon></a>
    <a class="icon" [href]="profile.linkedinUrl" target="_blank"><fa-icon [icon]="faLinkedin" size="2x"></fa-icon></a>
</div>