<div class="container">
    <article class="main">
        <h1>Introduction</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque sequi, officiis veniam iste facere illo illum vero quas necessitatibus a quos est et eum saepe rem inventore unde, maiores suscipit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic molestias dolore fugit nulla delectus doloremque exercitationem facilis quidem. Vitae delectus veniam facilis quia reprehenderit accusantium, magnam quisquam pariatur non iusto!</p>        
    </article>
    <aside>
        <app-profile-card></app-profile-card>
    </aside>
</div>