:root {
    --primary-bg-color: rgb(94, 74, 163);
    --primary-text-color: #fff;
    --secondary-bg-color: #fff;
    --secondary-text-color: #333;
    --card-bg-color: #f4f4f4;
    --card-text-color: #333
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
    cursor: pointer;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

a:visited{
    color: inherit;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}
  
/* Cards */
.card {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
}

.card a {
    color: black;
}

/* Animation */
@keyframes slideInFromRight
{
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}

@keyframes slideInFromLeft
{
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

@keyframes slideInFromTop
{
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}

@keyframes slideInFromBottom
{
    0% { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

/* Media */
@media (min-width: 768px) {
    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}